<header id="main-header" class="header">
  <div class="container">
    <div class="header__body">
      <a href="{{ site.url }}" class="header__logo" title="{{ site.title }}">
        <img src="{{ site.logo.src('full') }}" alt="{{ site.logo.alt }}">
      </a>
      {% include 'components/nav.twig' %}
    </div>
  </div>
</header>